.form-body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: linear-gradient(#feab5e79, #c779d080, #4bc0c87b);
}

.enter-text {
	height: 3%;
	width: 20%;
	padding: 10px;
	letter-spacing: 2px;
	display: flex;
	border-radius: 10px;
	justify-content: flex-start;
	align-items: center;
	font-size: large;
	outline: none;
	border: 0px white solid;
	background-color: rgb(69, 69, 69);
	color: white;
	box-shadow: 0 0 5px 2px #eee;
}

.timer-button {
	margin-top: 20px;
	padding: 5px;
	width: 250px;
	font-size: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	color: white;
	background-color: rgb(0, 55, 221);
	cursor: pointer;
}

.timer-button:hover {
	background-color: rgb(0, 0, 255);
	box-shadow: 0 0 5px 2px #fff;
	transition: box-shadow 0.3s ease-in;
}
